---
import Layout from "../layouts/Layout.astro";
import ReviewerCard from "../components/review-card.astro";
import ReviewCard from "../components/review-card.astro";
---

<Layout title="Testimonial page">
  <main
    class="w-[1280px] max-[1280px]:w-[900px] max-[900px]:w-full max-[900px]:p-6 flex max-[1280px]:flex-col items-center h-screen justify-center gap-28 max-[900px]:gap-20 mt-14"
  >
    <div
      class="w-[550px] max-[1280px]:w-[400px] max-[900px]:w-[600px] flex flex-col gap-[18px]"
    >
      <header class="flex flex-col gap-4">
        <i class="bx bxs-star rounded-full p-2 bg-[#F5C044] text-[#ead6a9] w-8"
        ></i>
        <h1 class="font-Sora font-bold text-4xl">Reviewers</h1>
      </header>
      <article class="flex flex-col gap-[20px]">
        <p class="font-Sora text-xl text-[#52525A]" id="body-text">
          Reviewers is where people can acces guidelines, checklists, and other
          tools to assist them in reviewing papers or manuscripts. It provides a
          structured approach to ensure that the review process is thorough,
          efficient, and consistent.
        </p>
        <div>
          <ul class="flex flex-col gap-3">
            <li class="flex items-center gap-2">
              <i class="bx bxs-check-circle text-[#4CA154] text-xl"></i>
              <p class="font-Sora text-sm text-[#52525A]">
                Checklist to Review an Academic Paper
              </p>
            </li>
            <li class="flex items-center gap-2">
              <i class="bx bxs-check-circle text-[#4CA154] text-xl"></i>
              <p class="font-Sora text-sm text-[#52525A]">
                Peer Review Checklists
              </p>
            </li>
            <li class="flex items-center gap-2">
              <i class="bx bxs-check-circle text-[#4CA154] text-xl"></i>
              <p class="font-Sora text-sm text-[#52525A]">
                Checklist for Editors, Reviewers, and Authors f SPIE Journals
              </p>
            </li>
          </ul>
        </div>
      </article>
    </div>
    <aside
      class="flex flex-col w-[470px] max-[1280px]:w-[350px] max-[900px]:w-[460px] gap-[4.8rem] max-[900px]:gap-12"
    >
      <div class="w-full flex justify-end">
        <ReviewerCard
          pathImg="/google-testimonial.png"
          altImg="Testimonial img from Google.com"
        >
          <i class="bx bxs-star text-[#F5C044] text-xl" slot="star-1"></i>
          <i class="bx bxs-star text-[#F5C044] text-xl" slot="star-2"></i>
          <i class="bx bxs-star text-[#F5C044] text-xl" slot="star-3"></i>
          <i class="bx bxs-star text-[#F5C044] text-xl" slot="star-4"></i>
          <h4 class="font-bold font-Sora" slot="reviewer">Samantha Lee</h4>
          <p class="text-[#52525A] font-Sora" slot="reviewer-message">
            The checklist ensures that the review process is thorough
          </p>
        </ReviewerCard>
      </div>
      <div class="w-full flex justify-start">
        <ReviewCard
          pathImg="/meta-testimonial.png"
          altImg="Testimonial img from Meta"
        >
          <i class="bx bxs-star text-[#F5C044] text-xl" slot="star-1"></i>
          <i class="bx bxs-star text-[#F5C044] text-xl" slot="star-2"></i>
          <i class="bx bxs-star text-[#F5C044] text-xl" slot="star-3"></i>
          <i class="bx bxs-star text-[#F5C044] text-xl" slot="star-4"></i>
          <i class="bx bxs-star text-[#F5C044] text-xl" slot="star-5"></i>
          <h4 class="font-bold font-Sora" slot="reviewer">Rachel Patel</h4>
          <p class="text-[#52525A] font-Sora" slot="reviewer-message">
            I higly recommend the Writecream Business Description
          </p>
        </ReviewCard>
      </div>
    </aside>
  </main>
</Layout>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");

  #body-text {
    line-height: 2rem;
  }
</style>
